@model OtelSpider.Web.ViewModels.HotelMealPlanVM

<div class="card mb-3">
    <div class="card-body">
        @using (Html.BeginForm("EditHotelMeal", "Hotel"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Edit Meal Plan Supplement</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Hotel.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.HotelID, (IEnumerable<SelectListItem>)ViewBag.lstHotels, "Select Hotel", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HotelID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MealPlanID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.MealPlanID, (IEnumerable<SelectListItem>)ViewBag.lstMealPlans, "Select Meal Plan", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MealPlanID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsBase, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.IsBase, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsBase, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div id="divSupplements">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MealPlanSupplement, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.MealPlanSupplement, new { htmlAttributes = new { @class = "form-control", @style = "display: inline !important;margin-right: 10px;" } })
                            <span id="precenMark">%</span>
                            @Html.ValidationMessageFor(model => model.MealPlanSupplement, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.isSubstraction, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.isSubstraction, new List<SelectListItem>() {
                                               new SelectListItem() { Text = "Addition", Value = "false" },
                                               new SelectListItem() { Text = "Substract", Value = "true" }}, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.isSubstraction, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.isPerPerson, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.isPerPerson, new List<SelectListItem>() {
                                               new SelectListItem() { Text = "Per Person", Value = "true" },
                                               new SelectListItem() { Text = "Per Room", Value = "false" } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.isPerPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.isPrecentage, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.isPrecentage, new List<SelectListItem>() {
                                               new SelectListItem() { Text = "Precentage", Value = "true" },
                                               new SelectListItem() { Text = "Amount", Value = "false" } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.isPrecentage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-9">
                        <input type="submit" value="Save" class="mt-1 btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back", "HotelRoomTypes", null, new { @class = "btn mr-2 mb-2 btn-cancel" })
        </div>

    </div>
</div>
